#droite{
  width: 40%;
}

#gauche{
  width: 60%;
}

#bonjour, #alois, #etudiant_en{
  display: none;
}

#photo_main{
  max-width: 150px;
}

.navbar-brand > a{
  font-size: 1.3em;
}

li > a{
  font-size: 2em;
}
