#droite{
  width: 40%;
}

#gauche{
  width: 60%;
}

#main-content{
  margin-top: 100px;
}

#bonjour, #alois, #etudiant_en{
  display: none;
}

#photo_main{
  max-width: 150px;
}

#telechargement{
  font-size: 1.2em;
}

#gauche > img, #main-content{
  height: 550px;
}

#etudiant > a, #contact > a{
  font-size: 1.5em;
}

.navbar-brand > a{
  font-size: 1.3em;
  color: white;
}

li > a{
  font-size: 2em;
}
.des_pass{
  font-size: 1.6em;
}
