/*CSS all*/
.titre{
  text-align: center;
  color: #b19877;
}

.navbar-brand > a{
  color: white !important;
}

li{
  font-size: 0.7em;
}

.titre_content{
  width: 100%;
}


footer{
  background:#fff;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*CSS main.html*/

#main-content{
  height: 540px;
  width: 100%;
  float: left;
  background-color: grey;
  margin-top: 4em;
}

#bonjour{
  z-index: 2;
  position: absolute;
  top: 360px;
  color: white;
  font-size: 35px;
}

#alois{
  z-index: 2;
  position: absolute;
  top: 410px;
  color: white;
  font-size: 45px;
}

#etudiant_en{
  z-index: 2;
  position: absolute;
  top: 480px;
  color: white;
  font-size: 25px;
  font-family: 'Merienda', cursive;
}

#droite{
  background-color: #b19877;
  height: 100%;
  width: 28%;
  float: right;
}

#gauche{
  float: left;
  width: 72%;
}

#dessous{
  width: 100%;
  height: auto;
  float: left;
}

#contact{
  margin-top: 30px
}

#nom, #etudiant, #age_permis{
  margin-top: 15px;
}

#titre_droite{
  font-size: 25px !important;
}

#telechargement{
  background-color: white;
  width: 60%;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: 40px;
  color: #b19877;
  font-size: 16px;
  max-width: 210px;
}

#photo_main{
  margin-left: auto;
  margin-right: auto;
  max-width: 155px;
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 50%;
}

#a_propos{
  color: #b19877;
  font-size: 35px;
  margin-left: 2%;
  font-family: 'Merienda', cursive;
  margin-bottom: 15px;
}

#passe, #aujourdhui{
  color: #b19877;
  font-size: 25px;
  margin-left: 2%;
  margin-top: -10px;
  margin-bottom: 25px;
}

#gauche > p{
  left: 8%;
  max-width: 56%;
}

#gauche > img{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 540px;
}

#photo_main > img{
  display: block;
  width: 100%;
  border-radius: 50%;
}

#centre_droite_main > div > a{
  color: white;
  font-size: 18px;
}

.nav-link:hover{
  color: rgba(255, 255, 255, 1) !important;
  transition: 0.5s;
}

.nav-item{
  height: auto;
  font-size: 1.2em;
}

.navbar{
  background-color: #b19877 ! important;
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 4em;
  transition: 0.5s;
}

.brown{
  background-color: #b19877de ! important;
  transition: 0.8s;
}

.des_pass{
  color: black;
  font-size: 18px;
  margin-left: 1%;
  margin-bottom: 40px;
  font-family: 'Quicksand', sans-serif;
}

/*CSS formation.html*/

#main_formation{
  height: auto;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 4em;
}

#main_formation > ul{
  margin-top: -10px;
  margin-bottom: 40px;
}

.etablissement{
  margin-top: -12px;
  margin-left: 2%;
  font-size: 0.7em;
}


.inline{
  display: flex;
}

.gras{
  font-weight: bold;
  color: #b19877;
  font-size: 0.7em;
}

.competence{
  color: black;
  font-size: 0.7em;
  margin-top: 10px;
  margin-bottom: -3px;
}

.date{
  margin-left: 1%;
  color: #b19877;
  font-size: 0.7em;
}

/*CSS experience.html*/

#main_experience{
  height: auto;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 4em;
}

/*CSS competence*/

#main_competence{
  height: auto;
  width: 100%;
  float: left;
  background-color: white;
  margin-top: 4em;
}

#anglais{
  width: 100%;
  height: 50px;
}

.myProgress{
  width: 100%;
  background-color: #d6d6d6;
  margin-top: 10px;
}

#anglais, #espagnol, #java, #reseau, #html, #php, #mysql{
  width: 1%;
  height: 30px;
  background-color: #b19877;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

#main_competence > p{
  margin-top: 10px;
}
