/*CSS main.html*/

#main-content{
    height: 510px;
    width: 100%;
    float: left;
    background-color: grey;
    margin-top: 86px;
}

#bonjour{
  z-index: 2;
  position: absolute;
  top: 360px;
  color: white;
  font-size: 35px;
}

#alois{
  z-index: 2;
  position: absolute;
  top: 410px;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

#etudiant_en{
  z-index: 2;
  position: absolute;
  top: 480px;
  color: white;
  font-size: 25px;
  font-family: 'Merienda', cursive;
}

#droite{
  background-color: #4196e0;
  height: 100%;
  width: 20%;
  float: right;
}

#gauche{
  float: left;
  width: 80%;
}

#dessous{
  width: 100%;
  height: auto;
  background-color: rgba(190, 190, 190, 1);
  float: left;
}

#contact{
  margin-top: 40px
}

#nom, #etudiant{
  margin-top: 25px;
}

#titre_droite{
  font-size: 25px !important;
  font-weight: bold;
}

#telechargement{
  background-color: white;
  width: 60%;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: 40px;
  color: #4196e0;
  font-size: 16px;
}

#photo_main{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 50%;
}

#a_propos{
  color: rgba(135, 54, 255, 1);
  font-size: 35px;
  margin-left: 2%;
  font-family: 'Merienda', cursive;
}

#passe{
  color: rgba(135, 54, 255, 1);
  font-size: 25px;
  margin-left: 2%;
  margin-top: -15px;
  margin-bottom: 45px;
}

#gauche > p{
  left: 8%;
  max-width: 64%;
}

#gauche > img{
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 510px;
}

#photo_main > img{
  display: block;
  width: 100%;
  border-radius: 50%;
}

#centre_droite_main > div > a{
  color: white;
  font-size: 18px;
}

.nav-link:hover{
  color: rgba(100, 100, 100, 1) !important;
  transition: 1s;
}

.nav-item{
  height: auto;
}

.navbar{
  background-color: #4196e0 ! important;
  position: fixed;
  width: 100%;
}

.des_pass{
  color: black;
  font-size: 18px;
  margin-left: 1%;
  font-family: 'Quicksand', sans-serif;
}

/*CSS formation.html*/

#main_formation{
  height: auto;
  width: 100%;
  float: left;
  background-color: grey;
  margin-top: 86px;
}
